#display h1 {
	text-align: center;
	font-size: 50px;
	color: var(--text-color);
	transition: 8s;
	font-weight: bold;
	font-family: "Questrial", sans-serif;
}
#display h1 {
	-webkit-background-clip: text;
	background-clip: text;
	transition: 8s;
	-webkit-text-fill-color: #fff;
}
#display h1:hover {
text-transform: uppercase;
transition: 8s;
}
#title-name {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.circle-box1 {
	z-index: 1;
	border-radius: 20px;
	position: absolute;
	border: 2px solid white;
	animation: ani 5s infinite;
	overflow: hidden;
}
@keyframes ani {
	0% {
		transform: rotate(360deg);
		height: 200px;
		width: 200px;
		border-radius: 180px;
	}
	50% {
		border-radius: 280px 100px 120px 260px;
	box-shadow: 0px 0px 300px rgba(255, 255, 255, 0.288);
		height: 580px;
		width: 200px;
	}
	100% {
		transform: rotate(0deg);
		height: 200px;
		width: 200px;
		border-radius: 180px;
	}
}
.circle-box2 {
	border-radius: 40px;
	border: 2px dotted white;
	z-index: 2;
	position: absolute;
	animation: ani2 5s infinite;
	overflow: hidden;
}
@keyframes ani2 {
	0% {
		transform: rotate(100deg);
		height: 200px;
		width: 200px;
		border-radius: 160px;
	}
	50% {
		border-radius: 50px;
		height: 520px;
		width: 200px;
	}
	100% {
		transform: rotate(470deg);
		height: 200px;
		width: 200px;
		border-radius: 160px;
	}
}
.circle-box3 {
	z-index: 3;
	border-radius: 30px;
	position: absolute;
	border: 2.5px solid white;
	border-style: dashed;
	animation: ani3 5s infinite;
	overflow: hidden;
}
@keyframes ani3 {
	0% {
		transform: rotate(300deg);
		height: 200px;
		width: 200px;
		border-radius: 200px;
	}
	50% {
		border-radius: 50px;
		height: 490px;
		width: 200px;
	}
	100% {
		transform: rotate(160deg);
		height: 200px;
		width: 200px;
		border-radius: 200px;
	}
}
.circle-box4 {
	z-index: 3;
	border-radius: 30px;
	position: absolute;
	border: 3px dotted white;
	animation: ani4 5s infinite;
	overflow: hidden;
}
@keyframes ani4 {
	0% {
		transform: rotate(280deg);
		height: 200px;
		width: 200px;
		border-radius: 200px;
	}
	50% {
		border-radius: 50px;
		height: 550px;
		width: 200px;
	}
	100% {
		transform: rotate(120deg);
		height: 200px;
		width: 200px;
		border-radius: 200px;
	}
}
.circle-box5 {
	z-index: 3;
	border-radius: 30px;
	position: absolute;
	border: 2px solid white;
	animation: ani5 5s infinite;
	overflow: hidden;
}
@keyframes ani5 {
	0% {
		transform: rotate(380deg);
		height: 200px;
		width: 200px;
		border-radius: 200px;
	}
	50% {
		border-radius: 50px;
		height: 450px;
		width: 200px;
	}
	100% {
		transform: rotate(20deg);
		height: 200px;
		width: 200px;
		border-radius: 200px;
	}
}

@media (max-width: 600px) {
#title-name {
	height: 60vh;

	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}
@keyframes ani {
	0% {
		transform: rotate(360deg);
		height: 200px;
		width: 200px;
		border-radius: 180px;
	}
	50% {
		border-radius: 280px 100px 120px 260px;
		height: 200px;
		max-height: 380px;
		width: 200px;
	}
	100% {
		transform: rotate(0deg);
		height: 200px;
		width: 200px;
		border-radius: 180px;
	}
}
.circle-box2 {
	border-radius: 40px;
	border: 2px dotted white;
	box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.288);
	z-index: 2;
	position: absolute;
	animation: ani2 5s infinite;
	overflow: hidden;
}
@keyframes ani2 {
	0% {
		transform: rotate(100deg);
		height: 200px;
		width: 200px;
		border-radius: 160px;
	}
	50% {
		border-radius: 50px;
		height: 200px;
		max-height: 320px;
		width: 200px;
	}
	100% {
		transform: rotate(470deg);
		height: 200px;
		width: 200px;
		border-radius: 160px;
	}
}
.circle-box3 {
	z-index: 3;
	border-radius: 30px;
	position: absolute;
	border: 2px solid white;
	animation: ani3 5s infinite;
	overflow: hidden;
}
@keyframes ani3 {
	0% {
		transform: rotate(300deg);
		height: 200px;
		width: 200px;
		border-radius: 200px;
	}
	50% {
		border-radius: 50px;
		height: 200px;
		max-height: 390px;
		width: 200px;
	}
	100% {
		transform: rotate(160deg);
		height: 200px;
		width: 200px;
		border-radius: 200px;
	}
}
.circle-box4 {
	z-index: 3;
	border-radius: 30px;
	position: absolute;
	border: 2px solid white;
	animation: ani4 5s infinite;
	overflow: hidden;
}
@keyframes ani4 {
	0% {
		transform: rotate(380deg);
		height: 200px;
		width: 200px;
		border-radius: 200px;
	}
	50% {
		border-radius: 50px;
		height: 200px;
		max-height: 350px;
		width: 200px;
	}
	100% {
		transform: rotate(20deg);
		height: 200px;
		width: 200px;
		border-radius: 200px;
	}
}
.circle-box5 {
	z-index: 3;
	border-radius: 30px;
	position: absolute;
	border: 2px solid white;
	animation: ani5 5s infinite;
	overflow: hidden;
}
@keyframes ani5 {
	0% {
		transform: rotate(380deg);
		height: 200px;
		width: 200px;
		border-radius: 200px;
	}
	50% {
		border-radius: 50px;
		height: 200px;
		max-height: 370px;
		width: 200px;
	}
	100% {
		transform: rotate(20deg);
		height: 200px;
		width: 200px;
		border-radius: 200px;
	}
}
}