#profile {
	width: 24vw;
	padding: 4vh 3vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	background: var(--background-image) center center;
	background-size: cover !important;
	background-repeat: no-repeat;
	position: fixed;
	color: #fff !important;
}
#display {
	width: 64vw;
	padding: 4vh 3vw;
	height: 92vh;
	display: inline-block;
	padding-left: 33vw;
}
#profile_img {
	width: 250px;
	height: 250px;
	min-width: 250px;
	min-height: 250px;
	max-width: 250px;
	max-height: 250px;
	border-radius: 5px;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

#work {
	margin: 2vh 0px;
	padding: 4vh 0px !important;
}
.projects{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
.section-box {
	margin: 20px;
	width: 350px;
	border: 2px bold rgb(255, 255, 255);
	padding: 20px;
}
@media (max-width: 800px) {
	#profile {
		width: 90vw;
		padding: 4vh 5vw;
		height: 90vh;
		text-align: center;
		position: relative;
	}

	#display {
		width: 90vw;
		padding: 4vh 5vw;
		height: auto;
		display: inline-block;
		padding-left: 5vw;
	}

	#profile_img {
		width: 250px;
		height: 250px;
		min-width: 250px;
		min-height: 250px;
		max-width: 250px;
		max-height: 250px;
		margin: 0px auto !important;
	}

	#work {
		margin: 0px;
	}

}

@media (max-width: 800px) {
	:root {
		--background-image: linear-gradient(
				0deg,
				rgba(10, 10, 10, 1),
				rgba(10, 10, 10, 0)
			),
			url("https://telegra.ph/file/c09f9bf04410939bab7b9.jpg") !important;
	}
}
