h1, h2, h3, h4, h5 {
  page-break-after: always;
}
@page {
 size: A4 landscape;
}
@page :first {

}
@page :blank {
  @top-center { content: "This page is intentionally left blank." }
}
@page:left{
  @bottom-left {
    content: "Page " counter(page) " of " counter(pages);
  }
   @bottom-left {
    content: counter(page);
  }
}

@page:right{
   @bottom-left {
    border-top: .25pt solid #666;
    content: "My book";
    font-size: 9pt;
    color: #333;
  }
  @bottom-right {
    content: counter(page);
  }
}
