
#profile_img{
	 animation: stretch 4s infinite;
  }
@keyframes stretch {
  0% {
border-radius: 200px 150px 100px 180px;
  }
   20% {
border-radius: 180px 220px 120px 160px ;
  }
   40% {
border-radius: 220px 150px 180px  150px;
  }
   60% {
border-radius: 150px  120px 150px 180px;
  }
   80% {
border-radius: 180px 180px 220px 150px;
  }
  100% {
border-radius:  200px 150px 100px 180px;
  }
}


#profile div {
	font-weight: bold;
	margin: 1.5vh 0px;
}

