#profile {
	width: 24vw;
	padding: 4vh 3vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	background: var(--background-image) center center;
	background-size: cover !important;
	background-repeat: no-repeat;
	position: fixed;
	color: #fff !important;
}

#profile_img {
	width: 250px;
	height: 250px;
	min-width: 250px;
	min-height: 250px;
	max-width: 250px;
	max-height: 250px;
	border-radius: 5px;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

#profile div {
	font-weight: bold;
	margin: 1.5vh 0px;
}

