:root {
  --main-container: #d4cad4;
  --main-color: #dee5e7;
  --text-color: rgb(0, 0, 0);
  --secondary-color: #c38dd6;
  --box-shadow: 0 0 10px rgba(139, 139, 139, 0.164);
  --box-shadow-lite: 0 0 10px rgba(0, 0, 0, 0.09);
  --color-hover: #b28cb9be;
  --color-active: #fff;
  --color-active-bg: #1f1c2e;
  --button-bg: #1f1c24;
  --search-bar-bg: #fff;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: var(--main-container);
}

#dark-mode {
  cursor: pointer;
  padding-left: 10px;
  transition: 0.8s;
}

#dark-mode:hover {
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: var(--secondary-color);
  color: var(--text-color);
  cursor: pointer;
  padding: 15px;
  box-shadow: 0 0 10px rgba(47, 47, 47, 0.212);
  border-radius: 30px;
  transition: 0.8s;
}

#myBtn:hover {
  background: var(--color-hover);
  box-shadow: var(--box-shadow);
  transition: 0.8s;
  bottom: 23px;
  border-radius: 10px;
  padding: 12px;
  right: 33px;
}

nav {
  background: var(--main-color);
  border-radius: 30px 30px 30px 30px;
  height: 70px;
  box-shadow: var(--box-shadow);
  width: 95%;
  margin-top: 5px;
  margin-left: 2.5%;
  position: relative;
}

.checkbtn {
  color: var(--text-color);
  background-color: var(--secondary-color);
  float: left;
  box-shadow: var(--box-shadow-lite);
  line-height: 52px;
  margin-left: 12px;
  cursor: pointer;
  padding-left: 12px;
  border-radius: 30px;
  transition: 0.8s;
  margin-top: 10px;
  height: 50px;
  width: 50px;
  display: none;
}
.checkbtn:hover {
  position: relative;
  background: var(--color-hover);
  transition: 0.8s;
  border-radius: 15px;
  padding-right: 11px;
  padding-top: 2px;
  margin-top: 7px;
  height: 55px;
  width: 55px;
}
#check {
  display: none;
}

label.logo {
  color: var(--text-color);
  font-size: 40px;
  line-height: 70px;
  padding: 10px 30px 10px 10px;
}
.material-icons-round {
  font-family: "Material Icons";
  font-size: 25px; /* Preferred icon size */
  letter-spacing: 0px;
  vertical-align: -14%;
}
.search {
  color: var(--text-color);
  background-color: var(--secondary-color);
  float: right;
  cursor: pointer;
  box-shadow: var(--box-shadow-lite);
  line-height: 60px;
  padding-left: 12px;
  margin-right: 15px;
  border-radius: 30px;
  margin-top: 10px;
  height: 50px;
  transition: 0.8s;
  width: 50px;
}
.search:hover {
  background: var(--color-hover);
  transition: 0.8s;
  border-radius: 15px;
  padding-left: 11px;
  padding-top: 2px;
  margin-top: 7px;
  height: 55px;
  width: 55px;
}

nav ul {
  float: right;
  margin-right: 10px;
  transition: 0.8s;
}
nav ul li {
  display: inline-block;
  line-height: 70px;
  transition: 0.8s;
}
nav ul li a {
  color: var(--text-color);
  transition: 0.8s;
  padding: 10px;
}

a {
  font-size: 20px;
  font-weight: 5px;
}

a.active,
a:hover {
  position: relative;
  font-size: 22px;
  background-color: var(--secondary-color);
  border-radius: 30px;
  padding: 12px;
  width: auto;
  height: auto;
  box-shadow: var(--box-shadow);
  transition: 0.8s;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 40px;
    padding-left: 0px;
  }
  nav ul li a {
    font-size: 20px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 70%;
    height: 85%;
    background: var(--main-color);
    top: 80px;
    z-index: 1;
    border-radius: 0px 30px 30px 0px;
    left: -100%;
    transition: 0.8s;
  }

  nav ul li {
    padding: 1px 10px 1px 10px;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    transition: 0.8s;
  }
  nav ul li a {
    font-size: 20px;
    transition: 0.8s;
  }
  a.active {
    background: var(--color-hover);
  }
  a:hover {
    background: var(--color-hover);
    transition: 0.8s;
    font-size: 22px;
    border-style: hidden;
    box-shadow: var(--box-shadow);
  }

  #check:checked ~ ul {
    left: 0;
  }
}

.body-container1 {
  background: var(--main-color);
  box-shadow: var(--box-shadow);
  margin-top: 20px;
  border-radius: 30px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 12px;
  width: 95%;
  float: left;
  height: auto;
}

.content-container1 {
  background: var(--secondary-color);
  margin-top: 20px;
  border-radius: 30px;
  float: left;
  margin-left: 15px;
  padding: 20px;
  width: 280px;
  height: 300px;
  transition: 0.8s;
  box-shadow: var(--box-shadow-lite);
}
.content-container1:hover {
  background: var(--color-hover);
  width: 260px;
  height: 290px;
  transition: 0.8s;
}
