@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  body {
    font-family: "DM Sans", sans-serif;
    background-color: #1A5F7A;
  }

  .header {
    padding: 50px;
    height: 100px;
    background: #FFC900;
    border-radius:0px 0px 30px 30px;
    color: white;
    font-size: 40px;
  }

  
  .sidebar {
    height: 600px;
    margin-top: 20px;
    border-radius: 0% 30px 30px 0%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.9s;
    padding-top: 150px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #FFC900;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 20px;
  }
  
  .openbtn {
    font-size: 15px;
    border-radius:30px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 12px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .9s;
    padding: 0px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  


  #rcorners1 {
    display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 30px;
  gap: 30px;
  
  height: 150px;
  width: 150px;
   box-sizing: border-box;
   padding: 16px;
   border: none;
   background: #FFC900;
   border-radius: 30px;
   box-shadow: 0 0 7px rgba(36, 36, 36, 0.24);
   resize: none;
   font-family: sans-serif;
   font-size: 16px;
  }