@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  box-sizing: border-box;
}


:root {
    --app-container: #6ac9d1;
    --main-color: #0D7377;
    --secondary-color: #A4EBF3;
    --projects-section: #51C4D3;

    --link-color: #1f1c2e;
    --link-color-hover: #00a7cc60;
    --link-color-active: #fff;
    --link-color-active-bg: #1f1c2e;
   


    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --more-list-bg: #fff;
    --more-list-bg-hover: #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #1f1c24;
    --search-area-bg: #fff;
    --star: #1ff1c2e;
    --message-btn: #fff;
  }
  
  .dark:root {
    --app-container: #222831;
    --main-color: #2C394B;
    --secondary-color: #343d42;
    --projects-section: #007880;

    --link-color: rgba(255,255,255,.8);
    --link-color-hover: #00778049;
    --link-color-active-bg: rgba(195, 207, 244, 0.2);
    
    --button-bg: #1f2937;
    --search-area-bg: #1f2937;
    --message-box-hover: #243244;
    --message-box-border: rgba(255,255,255,.1);
    --star: #ffd92c;
    --light-font: rgba(255,255,255,.8);
    --more-list-bg: #2f3142;
    --more-list-bg-hover: rgba(195, 207, 244, 0.1);
    --more-list-shadow: rgba(195, 207, 244, 0.1);
    --message-btn: rgba(195, 207, 244, 0.1);
  }
  

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;

}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--app-container);

}

.header {
  top: 0;
  padding-top: 30px;
  height: 150px;
  padding-left: 15%;
  background: var(--secondary-color);
  border-radius: 0px 0px 30px 30px;

}

.sidebar {
  height: 600px;
  margin-top: 25px;
  border-radius: 0% 30px 30px 0%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: var(--main-color);
  background-color:var(--app-container);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 150px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  text-shadow: 10px 5px 30px var(--projects-section);
  font-size: 40px;
  color:  var(--link-color-active);
  display: block;
  transition: 0.3s;
  border-radius: 30px;
}

.sidebar a:hover {
    background-color: var(--link-color-hover);
    color: var(--link-color-active);
}
.sidebar a:active {
    background-color: var(--link-color-active-bg);
    color: var(--link-color-active);
  }

.sidebar .closebtn {
  position: absolute;
  text-shadow: 0 0 99px #fff89a;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 20px;
  padding: 50;
  background-color: transparent;
  border: 0px;
}

.mode-switch {
    background-color: transparent;
  border: none;
  padding: 0;
  color: var(--main-color);
  display: flex;
    padding: 20;
    border: 0px;
    text-shadow: 10px 5px 30px var(--projects-section);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 550px;
    right: 25px;
    font-size: 36px;
    margin-left: 20px;
  }
  .mode-switch.active .moon {
    fill: var(--main-color);
    
  }

  .mode-switch:hover {
    color: var(--projects-section);
  }

.openbtn {
  margin-top: 1px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgba(17, 17, 17, 0.856);
  color: white;
  padding: 12px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 0px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 36px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

#WBcorners {
  height: 70px;
  width: 250px;
  padding: 5px;
  padding-left: 30px;
  border: 10px;
  border-radius: 30px 30px 0px 00px;
  box-shadow: 0 0 57px rgba(0, 0, 0, 0.25);
  background: var(--projects-section);
  font-family: sans-serif;
  font-size: 50px;
}

#rcorners1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 30px;
  gap: 30px;
  margin-left: 25px;
  height: 150px;
  width: 400px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  background: var(--app-container);
  border-radius: 30px;
  box-shadow: 0 0 7px rgba(36, 36, 36, 0.24);
  resize: none;
  font-family: sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
  background-color:  var(--app-container);
  padding-left: 10px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: var(--app-container);
  padding-left: 10px;
}

/* Fake image */
.fakeimg {
  background-color: var( --projects-section);
  border-radius: 30px;
  box-shadow: 0 0 57px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 20px;
}

.card:hover {
  background-color: var(--link-color-hover);
  text-shadow: 0 0 85px rgb(0, 0, 0);
  transition: 0.3s;
}

/* Add a card effect for articles */
.card {
  background-color: var(--app-container);
  background: var(--secondary-color);
  padding: 20px;
  margin-top: 50px;
  border-radius: 30px;
  box-shadow: 0 0 7px rgba(36, 36, 36, 0.24);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  background:  var( --secondary-color);
  border-radius: 30px 30px 0px 00px;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
