:root {
    --bg-color: rgb(10, 10, 10);
    --border-color: rgb(255, 255, 255);
    --text-color: #fff;
    --background-image: url("https://telegra.ph/file/c09f9bf04410939bab7b9.jpg") center center fixed;
    --background-background: url("https://telegra.ph/file/c09f9bf04410939bab7b9.jpg") center center fixed;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    padding: 0%;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Poppins", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Page Print*/

@page {
    size: A4 landscape;
    h1,
    h2,
    h3,
    h4,
    h5 {
        page-break-after: always;
    }
}


/*Loading */

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--bg-color);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    #spinner {
        animation: rotate 0.5s infinite linear;
        width: 150px;
        height: 150px;
        border: 3px solid var(--bg-color);
        border-bottom: 2px solid var(--text-color);
        border-radius: 50%;
        margin: 0;
    }
}

.intro-box {
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.scroll-overFL {
    border: 0px solid white;
    margin-top: 2%;
    height: 95%;
    margin-bottom: 5%;
    border-radius: 30px;
}

.border-b {
    margin: 1%;
    margin-top: 30px;
    padding: 20px;
}

@mixin ani-link {
    height: 200px;
    width: 200px;
    border-radius: 200px;
}

@mixin ani-link-br {
    border-radius: 50px;
    height: 300px;
}

@mixin circle-box {
    position: absolute;
    border: 2px dotted white;
    border-radius: 50px;
    width: 200px;
}

.head-yo {
    height: 100px;
    margin-top: 100px;
    width: 100%;
    color: var(--text-color);
}

#round-ani {
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    .circle-box1 {
        @include circle-box;
        animation: ani 5s infinite;
    }
    .circle-box2 {
        @include circle-box;
        animation: ani2 6s infinite;
    }
    .circle-box3 {
        @include circle-box;
        animation: ani3 7s infinite;
    }
    .circle-box4 {
        @include circle-box;
        animation: ani4 8s infinite;
    }
    .circle-box5 {
        @include circle-box;
        animation: ani5 9s infinite;
    }
}

a {
    color: white;
    text-decoration: none;
    margin: 3px;
    border-radius: 20px;
    padding: 0px 5px 0px 5px;
    margin: 5px 0px 5px 0px;
}

a:hover {
    border-radius: 20px;
    border: 1px solid var(--border-color);
}

.profile {
    width: 100%;
    background-image: url("/dist/img/c09f9bf04410939bab7b9.jpg");
}

.profile_img {
    height: 300px;
    width: 300px;
    background-image: url(/dist/img/JayantRohila.jpg);
    animation: stretch 9s infinite;
}

.Scroll {
    display: flex;
    margin-top: 20px;
    height: 80px;
    width: 100%;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .Scroll-link {
        animation: bounce 2s infinite 2s;
        transition: all 0.2s ease-in;
    }
}

#skill {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.skl {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.skl img {
    margin: 8px;
}

.col-sm {
    border-left: 2px solid white;
}

.card-overlay {
    height: 100%;
    width: 100%;
}